*::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Jaro", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    color: blueviolet;
}

.boutonVendre {
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

.boutonModification {
    margin: 15px;
    padding: 10px;
}


.titreAccueil {
    margin-left: 20px;
}

.containerFormulaire {
    display: flex;
    flex-direction: column;
    max-width:400px ;
    margin: 0 auto;
    color:black;
    padding-top: 30px;
}