body {
    background-color: rgb(253, 253, 253);
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

img {
    max-width: 200px;
    max-height: 200px;
    width: auto; 
    height: auto;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

h1 {
    margin-left: 20px;
}

h2 {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.boutonVendre {
    margin: 15px;
    padding: 10px;
}

.chaussuresContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:1200px ;
    margin: 0 auto;

}

.chaussures {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
}

.prix {
    font-weight: bold;
    color: crimson;
    font-size: 22px;
}

.imageChaussure {
    width: 300;
    height: 150px;
    overflow: hidden;
}